<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>DocumentRegistry</servlet-name>
    <servlet-class>org.dcm4chee.xdsb.registry.ws.DocumentRegistry</servlet-class>
    <init-param>
        <param-name>RegistryServiceName</param-name>
        <param-value>dcm4chee.xds:service=XDSbRegistryService</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentRegistry</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
