<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style=" border-style: none; margin-width: 0px; background=orange; height: 80%; ">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<body style="border-style: none; margin-width: 0px; ">
<form>
   <img src="delete.png" alt="Delete" style="float: right;" />
   <table>
      <tr><td><input type="checkbox" /></td><td><a href="patientFrame.html" target="patientFrame">Flintstone, Fred</a></td></tr>
      <tr><td><input type="checkbox" /></td><td><a href="patientFrame.html" target="patientFrame">Flintstone, Wilma</a></td></tr>
      <tr><td><input type="checkbox" /></td><td><a href="patientFrame.html" target="patientFrame">Rubble, Betty</a></td></tr>
      <tr><td><input type="checkbox" /></td><td><a href="patientFrame.html" target="patientFrame">Rubble, Barney</a></td></tr>
   </table>
</form>
</body>
</html>


