<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>

<body style="overflow: hidden; border-width: 0px; border-style: none; margin: 0px;" target="mainFrame">
   <iframe  src="topFrame.html" name="topFrame" style=" position: absolute; top: 0px; width: 99.9%; border-style: none; border-width: 0px; margin: 0px; " >
   </iframe>

   <iframe src="mainFrame.html" name="mainFrame" style=" position: absolute; top: 33px; width: 99.9%; overflow:hidden; height: 835px; border-style: none; border-width: 0px; margin: 0px; ">
      Your browser does not support &lt;iframe&gt;, you will need to use the frameless Xero.
   </iframe>

</body>
</html>

