<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<body>
   <div style="float: right; font-size: 70%; position: relative; top: -2px; ">
      Amy Green 
      <a href="settings.xhtml" style="color: grey; ">Settings</a>
      <a href="help.xhtml" style="color:grey; ">Help</a>
      <a href="logout.xhtml" style=" color: grey;" >Sign Out</a>   
   </div>

   <div style="position: absolute; left: 0px; top: 16px; ">
      <div style="display:inline; ">
         <a href="search.html" target="mainFrame"><img src="tab.png" style="border-style: none;" />
         <span style="position:relative; left: -95px; top: -3px;">Search</span></a>
      </div>
   </div>
   <div style="position: absolute; left: 100px;  top: 16px; ">
      <div style="display:inline; ">
         <a href="cycle.html" target="mainFrame"><img src="tab.png" style="border-style: none;" />
         <span style="position:relative; left: -95px; top: -3px;">Cycle</span></a>
      </div>
   </div>
   <div style="position: absolute; left: 200px;  top: 16px; ">
      <div style="display:inline; ">
         <a href="display.html" target="mainFrame"><img src="tab.png" style="border-style: none;" />
            <span style="position:relative; left: -95px; top: -3px;">Display</span>
      </div>
   </div>
</body>
</html>


