<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>DocumentRegistryB</servlet-name>
    <servlet-class>org.dcm4chee.xdsb.registry.ws.DocumentRegistryB</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DocumentRegistryA</servlet-name>
    <servlet-class>org.dcm4chee.xdsa.registry.ws.DocumentRegistryA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DocumentRegistryB</servlet-name>
    <url-pattern>/B</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumentRegistryA</servlet-name>
    <url-pattern>/A</url-pattern>
  </servlet-mapping>
</web-app>
