<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">

<!--
	$Id$
	$Source$
-->

<web-app>
	<display-name>dcm4jboss Archive Console</display-name>
	
	<!-- Session timeout in minutes. 30 is default timeout of tomcat -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>


	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<display-name>Maverick Dispatcher</display-name>
		<servlet-class>org.infohazard.maverick.Dispatcher</servlet-class>

		<!--
			The default charset used to decode input parameters.  If unspecified,
			the web container default is used.
		-->
		<!--
		<init-param>
			<param-name>defaultRequestCharset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		-->
		
		<!--
			The command which causes Maverick to reload the maverick.xml
			config data and any cached/precompiled XSLT templates.  Commands
			are still processed with the old data while the reloading is
			in progress, so it isn't too big of a deal if your users call
			this.  It wastes CPU resources, though, so you might want to
			change the command to something more obscure.  If this param
			is not defined, the reload command is disabled.
		-->
		<init-param>
			<param-name>reloadCommand</param-name>
			<param-value>reload</param-value>
		</init-param>

		<!--
			This allows an extra query parameter to be added
			to any request which halts the transformation process
			after that number of steps, e.g. blah.m?maxTransforms=0
		-->
		<init-param>
			<param-name>limitTransformsParam</param-name>
			<param-value>t</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web folder application to limit results of studies.
			Value must be an integer > 0
		-->
		<init-param>
			<param-name>limitNrOfStudies</param-name>
			<param-value>25</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find AuditLogger MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-auditlog-service.xml.
		-->
		<init-param>
			<param-name>auditLoggerName</param-name>
			<param-value>tiani.archive:service=AuditLogger</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find MCMScuService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-mcmscu-service.xml.
		-->
		<init-param>
			<param-name>mcmScuServiceName</param-name>
			<param-value>tiani.archive:service=MCMScu</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find MWLScuService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-mwlscu-service.xml.
		-->
		<init-param>
			<param-name>mwlScuServiceName</param-name>
			<param-value>tiani.archive:service=MWLScu</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find MppsScpService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-mppsscp-service.xml.
		-->
		<init-param>
			<param-name>mppsScpServiceName</param-name>
			<param-value>tiani.archive:service=MPPSScp</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find ContentEdit MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-contentedit-service.xml.
		-->
		<init-param>
			<param-name>contentEditName</param-name>
			<param-value>tiani.archive:service=ContentEditService</param-value>
		</init-param>
		
		<!-- 
			Used by dcm4jboss-web application to find GPWLFeedService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-contentedit-service.xml.
		-->
		<init-param>
			<param-name>gpwlFeedServiceName</param-name>
			<param-value>tiani.archive:service=GPWLFeed</param-value>
		</init-param>
		
		<!-- 
			Used by dcm4jboss-web application to find EchoService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-echo-service.xml.
		-->
		<init-param>
			<param-name>echoServiceName</param-name>
			<param-value>tiani.archive:service=ECHOService</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find AEService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-ae-service.xml.
		-->
		<init-param>
			<param-name>aeServiceName</param-name>
			<param-value>tiani.archive:service=AE</param-value>
		</init-param>

		<!-- 
			Used by dcm4jboss-web application to find MppsScpService MBean.
			Value must match mbean name in configured in
			deploy/dcm4jboss-mppsscp-service.xml.
		-->
		<init-param>
			<param-name>mppsScpServiceName</param-name>
			<param-value>tiani.archive:service=MPPSScp</param-value>
		</init-param>


		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.m</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

   <!-- A security constraint that restricts access to the
   	Archive Web Administration pages to users with the role WebAdmin.
   -->
   <security-constraint>
     <web-resource-collection>
       <web-resource-name>dispatcher</web-resource-name>
       <description>Only allows users with the role WebAdmin
       		to access the Archive Web Administration pages
       </description>
       <url-pattern>/*</url-pattern>
       <http-method>GET</http-method>
       <http-method>POST</http-method>
     </web-resource-collection>
     <auth-constraint>
       <role-name>WebUser</role-name>
     </auth-constraint>
   </security-constraint>
   <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>Archive Web Admin</realm-name>
      <form-login-config>
	      <form-login-page>login.jsp</form-login-page>
	      <form-error-page>error.jsp</form-error-page>
	  </form-login-config>
   </login-config>

   <security-role>
      <role-name>WebUser</role-name>
   </security-role>
   <security-role>
      <role-name>WebAdmin</role-name>
   </security-role>
</web-app>
