tr {
	text-align: left; 
}

tr.header {
}

body {
	margin: 0px;
}
tr.even {
  background: #dfefff;
}

button {
	float: right;
	margin: 0;
	border: 0;
	background: white;
}

.jslink {
	text-decoration: underline;
	color: blue;
}

div {
	margin: 0px;
}

div.studyTray {
	background:green;
	width:142px;
	float: left;
	overflow: hidden;
}

div.seriesToolbar {
	background: blue;
	float: left;
	overflow: hidden;
}

.image {
	margin: 0px;
	border: 0px;
	background: black;
	color: white;
	float: left;
	overflow: hidden;
}

div.menu {
	background: cyan;
	overflow: hidden;
}

div.layout {
	float: left;
	background: #202020;
}


div.innerBody {
	background: #909090;
	overflow: hidden;
}
