/*
	Base CSS
*/

body { font-family: Verdana, sans-serif; font-size:12px; }

h1 { font-size:26px; margin-bottom:18px; }
h1.ph1 { font-size:21px; margin-bottom:18px; }
h2 { font-size:21px; margin-bottom:18px; }
h3 { font-size:16px; }
h4 { font-size:13.4px; }

p,ul,ol,li,dl,dt,dd,div,td,th { font-size:12px; }

img {border: none;}

div.signin {height: 400px; background-color: #A0D8C4; text-align: center; padding: 160 0 0 0;}
div.signin table { width: 100%; background: #54B291; padding: 60 90 10 0; }
div.signin tr, div.signin td { width: 50%; height: 35px; border-style: none;}
div.signin span.login-desc { font-size:20px; font-weight: bold;}

div.module-selector { width: 100%; height: 43px; background: #FFF url("images/menu-bg.gif") top left repeat-x; font-weight: bold; list-style-type: none; margin: 0; padding: 0; z-index: 1;}
div.module-selector span.login-desc { margin: 13 0 0 0; padding: 0 10 0 10; float: left; font-size: 16px; }
div.module-selector div.tab-logo { margin: 13 0 0 0; padding: 0 10 0 10; height: 43px; float: right; }
div.module-selector div.tab-lang { margin: 13 0 0 0; height: 43px; float: right; }
div.module-selector div.tab-lang img { border: none; }
div.module-selector div.tab-lang a { color: #666;}

div.tabpanel div.tab-row li { margin: 0 0 0 0; display: block; float: left; list-style-type: none; }
div.tabpanel div.tab-row a:link, div.tabpanel div.tab-row a:visited {
    float: left; padding: 5px 15px 0; 
    background: #FFF url("images/menu-bg.gif") top left repeat-x;
    font-size: 12px;
    line-height: 38px;
    font-weight: bold;
    color: #666;
}
div.tabpanel div.tab-row li.selected a:link, div.tabpanel div.tab-row a:visited.active {
    float: left; height: 38px; color: #FFF; background: #FFF url("images/current-bg.gif") top left repeat-x; padding: 5px 15px 0; 
}
div.tabpanel div.tab-row a:hover { background: #aaa; }

div.module-panel { width: 100%; background: none #E1E0DE; }

table.search-panel { border: thin; border-width: 1px; border-style: solid; border-color: black; width:100%; white-space: nowrap; background-color: #FFFFFF;}
table.search-panel tr.searchFooter {height: 30px;}
table.search-panel tr {vertical-align: bottom;}
table.search-panel tr.extended {background-color: #A0D8C4;}
table.search-panel th {background-color: #446666; color: white; width: 20px; height: 20px; text-align: left;}
table.search-panel th.lo {background: url("images/lo.gif") #446666 top left; border-width: 0px; border-style: none;}
table.search-panel th.ro {background: url("images/ro.gif") #446666 top right; border-width: 0px; border-style: none;}
table.search-panel td.lu {background: url("images/lu.gif") bottom left; border-width: 0px; border-style: none;}
table.search-panel td.ru {background: url("images/ru.gif") bottom right; border-width: 0px; border-style: none;}
table.search-panel span.toggle-text { vertical-align: middle; }

table.module-panel-content { 
	width: 100%; 
	border-collapse: collapse; 
	empty-cells: show; 
}

.patient {	
/*	background-color: #0B6040; */
	background-color: #446666;
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
	color: white;
}
.study {
	background-color: #54B291;
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
}
.pps {
	background-color: #A0D8C4; 
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
}
.series { 
	background-color: #D1FEF6; 
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
} 	
.instance {
	background-color: #E1E0DE;
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
}
.file {
	background-color : #FFFFFF; 
	height: 25px; 
	width: auto; 
	border-width: 1px; 
	border-style: solid; 
	border-color: #aaaaaa;
} 

.details { background-color: #FFFFFF; }

div.viewport-and-actions { margin-top: 20px; margin-bottom: 5px; padding: 5; }
div.viewport { float: left; }
div.actions { text-align: right; }

table.dicomobject { background: #FFFFFF; width: 100%; }






.invalid { background: #eebbaa; }

p.seperator { width: 100%; height: 1px;}

div.internal_error, div.page-expired, div.access-denied
	{ background: #99bbaa; height: 250px; text-align: center; padding: 10 10 280 10;}

.message-system {font-size: 28px; padding: 200 0 20 0; font-weight: bold;}

.msgWindow { background: #99bbaa; width: 100% ; height: 100%; text-align: center;}
.msgWindow_content {height: 63%; width: 90%;position: absolute; left: 5%; top: 40px;}
.msgWindow-msg { width:90%; position: absolute; left: 5%; top: 45%;}
.msgWindow-button { width:50%;position: absolute; left: 25%; top: 80%; }

.textFieldSH { width: 150px; }
.textFieldLO { width: 290px; }
.timeField { width: 35px; }
.dateField { width: 80px; }
.dateTimeField { width: 170px; }
	
.editTitle { text-align: center; font-size: 20px; font-weight: bold; }
col.attrname { width: 200px; }
col.tag { width: 100px; }
td.tag input { width: 90px; }
col.vr { width: 30px; }
col.len { width: 60px; }
col.val { width: 300px; }
td.val input { width: 100%; }
col.action { width: 30px; }
td.item, td.newitem, td.newattr { font-style: italic; }

tr.study td.expand, tr.pps td.expand, 
  tr.series td.expand, tr.instance td.expand,
  tr.patient td.expand
 {width: 21px;}

input#patientID { width:100px }
input#issuerOfPatientID { width:100px }
input#birthDateMin { width:80px }
input#birthDateMax { width:80px}
input#studyDateMin { width:80px }
input#studyDateMax { width:80px}
