/*
	Move Entities CSS
*/

div.movePage div.movePage_content { text-align: center; height: 50%; width: 90%; position: absolute; left: 5%; top: 40px; }
div.movePage div.movePage_content span.movePage_title { width:90%; position: absolute; left: 5%; top: 25%; }
div.movePage div.movePage_content span.movePage_msg { width:90%; position: absolute; left: 5%; top: 35%; }
div.movePage div.movePage_button { text-align: center;width:90%;position: absolute; left: 5%; top: 45%; }
