/*
    Move Entities CSS
*/

div.movePage div.movePage-content { text-align: center; height: 50%; width: 90%; position: absolute; left: 5%; top: 40px; }
div.movePage div.movePage-content span.movePage-title { width:90%; position: absolute; left: 5%; top: 25%; }
div.movePage div.movePage-content span.movePage-msg { width:90%; position: absolute; left: 5%; top: 35%; }
div.movePage div.movePage-button { text-align: center;width:90%;position: absolute; left: 5%; top: 45%; }
