/*
	Move Entities CSS
*/

.movePage_content { text-align: center; height: 50%; width: 90%; position: absolute; left: 5%; top: 40px; }
.movePage_title { width:90%; position: absolute; left: 5%; top: 25%; }
.movePage_msg { width:90%; position: absolute; left: 5%; top: 35%; }
.movePage_button { text-align: center;width:100%;position: absolute; top: 45%; }
