<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style=" border-style: none; margin-width: 0px; background=orange; height: 80%; ">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<frameset cols="20%,*">
      <frame name="cycleFrame" src="cycleFrame.html"/>
      <frame name="patientFrame" src="patientFrame.html"/>
</frameset> 

</html>


