<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style=" border-style: none; margin-width: 0px; background=orange; height: 80%; ">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<body style="background: pink; width: 99%; height: 99%;  ">
   Line 1 *********************************************************************************************************** <br />
   Line 2 <br />
   Line 3 <br />
   Line 4 <br />
   Line 5 <br />
   Line 6 <br />
   Line 7 *********************************************************************************************************** <br />
   Line 8 <br />
   Line 9 <br />
   Line 10 <br />
   Line 11 <br />
   Line 12 <br />
   Line 13 *********************************************************************************************************** <br />
</body>
</html>


