<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style=" border-style: none; margin-width: 0px; background=orange; height: 80%; ">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<body style="border-style: none; margin-width: 0px; position: relative; top: -8px;  ">
   <img src="viewNow.png" style="float: right;" alt="View Now"/>

   <h1>Fred Flintstone</h1>

   Patient ID: 23498763 Sex: Male  Age: 6923 years   dob 21/05/4916 BC

   <table style="width: 100%">
      <tr><th></th><th>Status</th><th>Exam</th><th>Date</th><th>Acc#</th><th>Location</th><th>Study Description</th></tr>
      <tr style="background: #dfefff;"><td><input type="checkbox"/></td><td>new</td><td>MR Head</td><td>08/12/2005</td><td>KN6357</td><td>ER</td><td>EXR45HEAD 2V PA/LAT</td></tr>
      <tr><td><input type="checkbox"/></td><td>new</td><td>CT Chest</td><td>CT Chest</td><td>03/12/2006</td><td>KN1253</td><td>EXR45CHEST 2V PA/LAT</td></tr>
   </table>
</body>
</html>
