<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Xero</title>
    <!-- <link href="/xero/stylesheet/date.css" rel="stylesheet" type="text/css" /> -->
</head>
<body style="background: black; color: white; width: 99%; ">
     <span style="float: right; " >
        image
        <a href="report.html" target="imageFrame">report</a>
     </span>
   <form>
     &lt;
     <select style="background: black; color: white;" >
        <option>Flintstone, Fred, PID: 23498763</option>
        <option>Flintstone, Wilma, PID: 23498764</option>
        <option>Rubble, Barney, PID: 23498766</option>
        <option>Rubble, Betty, PID: 23498767</option>
     </select>
     &gt;
     &nbsp;&nbsp;
     &lt;
     <select style="background: black; color: white;" >
        <option>01/01/2007 13:26 Acc#KN6357  CT Chest</option>
        <option>01/01/2007 13:25 Acc#KN6357  MR Head</option>
     </select>
     &gt;
  </form>  
</body>
</html>


