/*	GENERAL	*/

th, td {
	padding: 3px 3px 3px 3px;
}

.table, .table-header, .header, .wicket-tree-table-body {
	border-width: 1px !important;
	border-color: #666666 !important;
	border-style: solid !important;
}

.image {
	border-style: none;
}


/*	COLOR	*/

.nothing, .message-validator, .message-error {
	/* AGFA WARM RED */
	color: #E41715 !important;
}

.nothing, .input-login, .input, .table-text, .wicket-tree-table-body {
	/* Black */
	color: #000000 !important;
}

.nothing {
	/* Gray 1 */
	color: #333333;
}

.nothing {
	/* Gray 2 */
	color: #666666;
}

.nothing, input, .button-submit, .button {
	/* Gray 3 */
	color: #999999;
}

.nothing {
	/* Gray 4 */
	color: #CCCCCC;
}

.nothing, div.tab-row li a:link, .hyperlink, .table-header, .header, .title, .panel, .panel-internalerror, .panel-pageexpirederror, .label, .message-system {
	/* White */
	color: #FFFFFF !important;
}

.nothing {
	/* Green 1 */
	color: #263F3F;
}

.nothing {
	/* Green 2 */
	color: #4C7F7E;
}

.nothing {
	/* Green 3 */
	color: #7FB1B2;
}

.nothing {
	/* Green 4 */
	color: #C1DAD9;
}


/*	BACKGROUND COLOR	*/

.nothing {
	/* AGFA WARM RED */
	background-color: #E41715 !important;
}

.nothing, input, .button-login, .button-submit, .button {
	/* Black */
	background-color: #000000;
}

.nothing, .panel {
	/* Gray 1 */
	background-color: #333333;
}

.nothing {
	/* Gray 2 */
	background-color: #666666;
}

.nothing, .even, .row-selected {
	/* Gray 3 */
	background-color: #999999 !important;
}

.nothing, .odd, .input-login, .input, .row {
	/* Gray 4 */
	background-color: #CCCCCC !important;
}

.nothing {
	/* White */
	background-color: #FFFFFF;
}

.nothing, .panel-error, .panel-internalerror, .panel-pageexpirederror, .table-header, .header, .table-form {
	/* Green 1 */
	background-color: #263F3F !important;
}

.nothing {
	/* Green 2 */
	background-color: #4C7F7E;
}

.nothing {
	/* Green 3 */
	background-color: #7FB1B2;
}

.nothing {
	/* Green 4 */
	background-color: #C1DAD9;
}


/*	TYPOGRAPHY	*/

.nothing {
	/* non-critical information */
	font-family: Tahoma;
	font-size: 9pt;
}

.nothing, .header, .wicket-tree-table-body, .table-text, .panel-internalerror, .panel-pageexpirederror, .panel, .label, .message-error {
	/* standard labels and text */
	font-family: Tahoma !important;
	font-size: 11pt !important;
}

.nothing, div.tab-row li a:link, .title, .table-header {
	/* headings and text where readability and legibility are the key */
	font-family: Tahoma !important;
	font-size: 13pt !important;
}

.nothing, .message-system {
	/* use very sparingly for rare cases that benefit from a very large typesize */
	font-family: Tahoma;
	font-size: 16pt;
}

/* for dashboard FileSystemTreeTable */
div.row, span {
	height: 50px !important;
	border-color: #666666 !important;
}

.table-data {
	padding: 5px;
}

/* class of tab panel of wicket extensions */
div.tab-row li {
	float: left;
	list-style-type: none;
	padding: 15px;
}

/* class of tab panel of wicket extensions */
.tab-panel {
	clear: both;
}

/* class of tree table of wicket extensions */
span.c_ {
	text-align: center;	
}